/*Header*/

.header {
  box-sizing: border-box;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(221, 221, 221);
}

/*Main*/

.main {
  padding: 1em;
  display: flex;
  justify-content: center;
}

/*Form*/

.cv-form {
  padding: 1em;
  background-color: white;
  color: black;
  min-width: 350px;
  max-width: 700px;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
}

fieldset {
  width: 100%;
}

.fieldset-title {
  font-weight: 700;
  margin-bottom: 1em;
}

.fieldset-content {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

label {
  width: 25%;
}

input {
  border: 1px solid rgb(223, 220, 220);
  background-color: rgb(248, 248, 248);
  padding: 5px 15px;
  font-size: 1rem;
  width: 75%;
}

input:focus {
  outline: 1px solid black;
}

.submit-btn,
.cv-edit-btn {
  border: none;
  background-color: rgb(42, 101, 179);
  color: white;
  padding: 8px 18px;
  border-radius: 100px;
}

/*CV*/

.cv {
  min-width: 350px;
  max-width: 500px;
  width: 100%;
  padding-top: 1em;
  color: black;
}

.cv-title {
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

.cv-section-title {
  background-color: #101828;
  padding: 5px 0;
  text-align: center;
  color: white;
}

section {
  background-color: rgb(238, 238, 238);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  padding: 10px 0;
}

li {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}
