/*Header*/

.header {
  box-sizing: border-box;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(221, 221, 221);
}

/*Main*/

.main {
  padding: 1em;
  display: flex;
  justify-content: center;
}
